*,
*::before,
*::after {
  padding: 0;
  margin: 0;
  box-sizing: border-box; }

html {
  font-size: 62.5%;
  font-family: "Anton", sans-serif; }

.container {
  display: flex;
  width: 100%;
  height: 100vh;
  position: relative; }
  .container button {
    border: none;
    background-color: #fe4a38;
    padding: 1.5rem 6rem;
    border-radius: 50rem;
    color: white;
    font-size: 1.5rem; }

.input-container {
  display: flex;
  flex-direction: column;
  width: 80%; }
  .input-container__input {
    width: 100%;
    border: none;
    padding: 1.8rem 1.5rem;
    background-color: #eeeeee;
    margin-bottom: 2rem;
    font-size: 1.5rem; }
    .input-container__input::placeholder {
      font-display: 'Roboto', sans-serif;
      font-size: 1.5rem; }
    .input-container__input:focus {
      outline: none; }

.sign-in-container {
  flex: 0 0 50%;
  height: 100%;
  background-color: white;
  z-index: 20;
  transition: all 1s ease-out;
  z-index: 10; }
  .sign-in-container-active {
    transform: translateX(100%);
    opacity: 0;
    z-index: -10; }

.sign-in {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 100%;
  width: 100%;
  transition: 1s;
  position: relative; }
  .sign-in__title {
    font-size: 5rem;
    letter-spacing: 0.5rem;
    margin: 0; }
  .sign-in__icons {
    display: flex;
    margin: 1rem 0 2rem 0; }
  .sign-in p {
    margin-bottom: 2rem; }
  .sign-in__icon {
    border: 0.2rem solid #eeeeee;
    height: 5rem;
    width: 5rem;
    border-radius: 100rem;
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0 1rem; }

.sign-up-container {
  flex: 1;
  position: relative;
  transition: all 1s ease-out;
  z-index: 10; }
  .sign-up-container-active {
    transform: translateX(-100%);
    opacity: 0;
    z-index: -10; }

.sign-up {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100%; }
  .sign-up__title {
    font-size: 5rem;
    letter-spacing: 0.5rem;
    margin: 0; }
  .sign-up p {
    margin-bottom: 1rem; }

.overlay-container {
  position: absolute;
  width: 50%;
  height: 100%;
  transition: transform 1s ease-in-out;
  overflow: hidden;
  z-index: 30; }
  .overlay-container-active {
    transform: translate(100%); }

.overlay {
  background: linear-gradient(90deg, #fe4a38 0%, #fd416a 100%);
  display: flex;
  height: 100%;
  width: 200%;
  transition: transform 1s ease-in-out;
  position: relative; }
  .overlay-active {
    transform: translate(-50%); }

.sign-up-overlay {
  flex: 1;
  height: 100%;
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  color: white; }
  .sign-up-overlay__title {
    font-size: 5rem;
    letter-spacing: 0.5rem;
    margin: 0; }
  .sign-up-overlay__message {
    margin: 3rem;
    font-size: 2rem;
    text-align: center; }
  .sign-up-overlay button {
    border: 0.1rem solid white;
    background-color: rgba(0, 0, 0, 0); }

.sign-in-overlay {
  flex: 0 0 50%;
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  color: white; }
  .sign-in-overlay__title {
    font-size: 5rem;
    letter-spacing: 0.5rem;
    margin: 0; }
  .sign-in-overlay__message {
    margin: 3rem;
    font-size: 2rem;
    text-align: center; }
  .sign-in-overlay button {
    border: 0.1rem solid white;
    background-color: transparent; }

/*# sourceMappingURL=style.css.map */
